/* モバイルファースト */

.button_common {
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;

  /* ボタン文字列を中央揃え */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_changeable {
  width: 90%;
  height: 50px;
  min-height: 50px;
  padding: 4px 8px;
  font-size: 0.9rem;
}

.button {
  background-color: black;
  color: white;
  border: none;
}

.button1 {
  background-color: black;
  color: white;
  border: none;
}

.button2 {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.button3 {
  background-color: white;
  color: black;
  border: none;
}

/* タブレット向け */
@media (min-width: 481px) {
  .button_changeable {
    width: 350px;
    height: 70px;
    padding: 6px 12px;
    font-size: 1rem;
  }
}

/* パソコン向け */
@media (min-width: 769px) {
  .button_changeable {
    width: 400px; /* 画面幅いっぱいに */
    height: 80px; /* 高さを自動調整 */
    padding: 8px 16px;
    font-size: 1.2rem;
  }
}
